input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media screen and (max-width: 750px){
    .form-component{
        padding-left: 10px;
        padding-right: 10px;
      }
  
}

@media screen and (min-width: 751px){
    .form-component{
        padding-left: 10px;
        padding-right: 10px;
      }


}

input{
    width: 95%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}


.button-submit{
    background-color: blueviolet;
    color: white;
    font-size: medium;
    font-weight: 200;
    border:none;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    margin-top: 10px;
}