

@media screen and (max-width: 500px){
    .balance-component{
        /* background-color: gray; */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        /* grid-area: balanceComponent; */

    
    }
}

@media screen and (min-width: 501px){
    .balance-component{
        /* background-color: gray; */
        padding: 0 0 0 10px;
        box-sizing: border-box;
        /* grid-area: balanceComponent; */
    
    }

}


.balance-total{
    height: 40%;
    display: flex;
    align-items: center;
}

.balance-combined{
    height: 60%;
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.balance-total-content p{
    margin-bottom: 0;
    
    font-weight: bold;
}

.balance-total-content h1{
    margin-top: 0px;
}

.balance-combined-income{
    /* background-color: #BEE5B0; */
    border-right: 0.5px lightgray solid;
    text-align: center;
    
}


.balance-combined-expenses{
    /* background-color: #FF6961; */
    border-left: 0.5px lightgray solid;
    text-align: center;
}

.balance-combined-inner-white{
    width: 95%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.balance-combined-inner-white{
    padding: 0;
}

.income-amount{
    color: green;
    margin-top: 0;
}

.expense-amount{
    color: red;
}

#balance-amount-display{
    font-size: 2.5rem;
}


